<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NetOfficeFw.Access" version="1.8.0" targetFramework="net48" />
  <package id="NetOfficeFw.Core" version="1.8.0" targetFramework="net45" />
  <package id="NetOfficeFw.Excel" version="1.8.0" targetFramework="net45" />
  <package id="NetOfficeFw.Outlook" version="1.8.0" targetFramework="net48" />
  <package id="NetOfficeFw.PowerPoint" version="1.8.0" targetFramework="net48" />
</packages>