@model ChatIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="rows grow">
    <div class="rows grow">

        @foreach (var chatLog in Model.Details)
        {
            <div class="content post mine">
                <div class="chat-log">
                    <p class="header"><small>@chatLog.PostAt</small></p>
                    <p class="message">@chatLog.Message</p>
                </div>
            </div>
        }
    </div>
    <div class="content">
        <textarea class="textarea grow" rows="3" placeholder="ここにテキストを入力（Enterで投稿 Shift+Enterで改行）"></textarea>
        <button class="button" type="button">Post</button>
    </div>
</div>