@model ChatIndexViewModel

@{
    ViewData["Title"] = "Index";
}
<form asp-action="Index" class="rows grow">
    <div class="rows grow">

        @foreach (var chatLog in Model.Details)
        {
            <div class="cols post mine">
                <div class="chat-log">
                    <p class="header"><small>@chatLog.PostAt</small></p>
                    <p class="message">@chatLog.Message</p>
                </div>
            </div>
        }
    </div>
    <div class="cols">
        <textarea class="textarea grow" asp-for="Message" rows="3" placeholder="ここにテキストを入力（Enterで投稿 Shift+Enterで改行）"></textarea>
        <input class="button" type="submit" value="Post" />
    </div>
</form>