<header class="header">
    <div class="container grow">
        <nav class="navbar">
            <div class="brand">
                @AppConst.AppName
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" asp-controller="Chat" asp-action="Index">
                        <span>Chat</span>
                    </a>
                </div>
                <div class="navbar-end">
                    <a class="navbar-item" asp-controller="Chat" asp-action="Index">
                        <span>@User.UserId()</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>