@model LoginIndexViewModel

@{
    ViewData["Title"] = "Login";
}

<form asp-action="Index" class="rows login-screen">
    <h1>Login</h1>
    <hr />
    <div class="rows form-component">
        <div class="cols">
            <label asp-for="UserId"></label>
        </div>
        <input asp-for="UserId" class="input" />
    </div>
    <div class="form-component text-right">
        <input class="button" type="submit" value="Login" />
    </div>
</form>