@model LoginIndexViewModel

@{
    ViewData["Title"] = "Login";
}

<form asp-action="Login" class="rows login-screen">
    <h1>Login</h1>
    <hr />
    <div class="rows form-component">
        <label asp-for="UserId"></label>
        <input asp-for="UserId" class="input" />
        <span asp-validation-for="UserId"></span>
    </div>
    <div class="form-component text-right">
        <input class="button" type="submit" value="Login" />
    </div>
</form>